html, body 
{
    height: 100vh;
    background: #1D1B26;
}

.Portfolio_conteyner
{
    overflow: hidden;
    min-height: 100vh;
}

.Portfolio_hiader
{
    height: 10vh;
    width: 100%;
    background-color: #1D1B26;
    text-align: right;
    vertical-align: middle;
    
}

.Portfolio_hiader_button
{
    width: 100%;
    padding: 7px 0 7px 0;
    display: inline-block;
    border-bottom: solid 0.5px rgb(50, 50, 50);
}

.Portfolio_conteyner .double-border-button 
{
    font-size: 2vh;
    text-decoration: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 30px;
    position: relative;
    border: 1px solid #ff3000;
    color: #ff096c;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s;
}

.Portfolio_conteyner .double-border-button:after 
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.Portfolio_conteyner .double-border-button:hover:after 
{
    border-color: #ff3000;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}


